Repository remarkablemark/express-api-template: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,ts}": "yarn lint:fix",
  "*.{css,html,json,md,yml}": "prettier --write"
}

build(package): bump eslint-plugin-prettier from 4.2.1 to 5.0.0
  package.json
  yarn.lock
Due: prettier --write

style(app): fix prettier lint
  src/app.ts
Due: yarn lint:fix

build(nvmrc): set Node.js version to 18
  .nvmrc
Due: none

build(package): update engines node to 18
  package.json
Due: prettier --write

build(package): upgrade devDependencies
  package.json
  yarn.lock
Due: prettier --write

ci(github): change merge method to squash in mergify.yml
  .github/mergify.yml
Due: prettier --write

build(nvmrc): bump Node.js version from 18 to 20
  .nvmrc
Due: none

build(package): remove "engines" field
  package.json
Due: prettier --write

refactor: replace `yarn` with `npm`
  .github/workflows/build.yml
  .husky/commit-msg
  .lintstagedrc.json
  README.md
  package-lock.json
  package.json
  yarn.lock
Due: prettier --write

ci(github): update dependabot.yml
  .github/dependabot.yml
Due: prettier --write

chore(license): update copyright year to 2024
  LICENSE
Due: none

chore(husky): migrate to husky 9
  .husky/commit-msg
  package-lock.json
  package.json
Due: prettier --write

chore(husky): add pre-commit
  .husky/pre-commit
Due: none

chore(husky): don't make commit-msg executable
  .husky/commit-msg
Due: none

build(deps-dev): bump @typescript-eslint/eslint-plugin from 7.0.0 to 7.0.2
  package-lock.json
  package.json
Due: prettier --write

ci(github): add groups to dependabot.yml
  .github/dependabot.yml
Due: prettier --write

chore(eslint): migrate to eslint 9
  .eslintrc.json
  .github/dependabot.yml
  eslint.config.mjs
  package-lock.json
  package.json
Due: prettier --write

build(package): fix 4 vulnerabilities (1 moderate, 3 high)
  package-lock.json
Due: prettier --write

chore: add `eslint-plugin-simple-import-sort`
  eslint.config.mjs
  package-lock.json
  package.json
  src/app.test.ts
  src/app.ts
  src/bin/www.ts
  src/routes/index.test.ts
Due: yarn lint:fix, prettier --write

ci(github): update action in release-please.yml
  .github/workflows/release-please.yml
Due: prettier --write

build(nvmrc): bump Node.js version from 20 to 22
  .nvmrc
Due: none

chore(license): update copyright year to 2025
  LICENSE
Due: none

test(app): ignore TypeScript error
  src/app.test.ts
Due: yarn lint:fix

build(package): update package-lock.json
  package-lock.json
Due: prettier --write

build(package): fix 1 low severity vulnerability
  package-lock.json
Due: prettier --write

build(nvmrc): bump Node.js version from 22 to 24
  .nvmrc
Due: none

ci(github): set permissions in release-please.yml
  .github/workflows/release-please.yml
Due: prettier --write

ci(github): set permissions in build.yml
  .github/workflows/build.yml
Due: prettier --write

chore(license): update copyright year to 2026
  LICENSE
Due: none

build(package): tidy dependencies
  package-lock.json
  package.json
Due: prettier --write

docs(readme): update nvm
  README.md
Due: prettier --write

test(jest): refactor jest.config.ts
  jest.config.ts
Due: yarn lint:fix

chore(tsconfig): enable incremental compilation
  .gitignore
  .husky/pre-commit
  tsconfig.json
Due: prettier --write

build(tsconfig): modularize `tsconfig.build.json` from `tsconfig.json`
  .gitignore
  package.json
  tsconfig.build.json
  tsconfig.json
Due: prettier --write

ci(github): build app in workflow build.yml
  .github/workflows/build.yml
Due: prettier --write
