Repository remarkablemark/express-api-template: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,ts}": "yarn lint:fix",
  "*.{css,html,json,md,yml}": "prettier --write"
}

refactor: move files to src
  package.json
  src/app.js
  src/bin/www.js
  src/public/index.html
  src/public/stylesheets/style.css
  src/routes/index.js
  src/routes/users.js
Due: yarn lint:fix, prettier --write

build(package): save types, nodemon, and ts-node to devDependencies
  package.json
  yarn.lock
Due: prettier --write

refactor: rewrite to TypeScript
  package.json
  src/app.js
  src/app.ts
  src/bin/www.ts
  src/routes/index.js
  src/routes/index.ts
  src/routes/users.js
  src/routes/users.ts
Due: yarn lint:fix, prettier --write

chore(package): update dev and start scripts
  package.json
Due: prettier --write

build(package): save dotenv to dependencies
  .env.example
  package.json
  yarn.lock
Due: prettier --write

refactor: add config with env
  src/app.ts
  src/bin/www.ts
  src/config/env.ts
  src/config/index.ts
Due: yarn lint:fix

refactor: remove debug and replace with console.log
  package.json
  src/bin/www.ts
  yarn.lock
Due: yarn lint:fix, prettier --write

feat: remove public and replace with 'OK'
  src/app.ts
  src/public/index.html
  src/public/stylesheets/style.css
  src/routes/index.ts
Due: yarn lint:fix, prettier --write

feat: update morgan to use 'combined' logger in production
  src/app.ts
Due: yarn lint:fix

feat(routes): remove users route and handle 404 not found
  src/app.ts
  src/routes/users.ts
Due: yarn lint:fix

feat(app): handle 500 error
  src/app.ts
Due: yarn lint:fix

test: add test scripts, jest config, and route tests
  jest.config.ts
  package.json
  src/app.test.ts
  src/app.ts
  src/bin/www.ts
  src/config/env.ts
  src/routes/index.test.ts
Due: yarn lint:fix, prettier --write

refactor(routes): unabbreviate variables
  src/routes/index.ts
Due: yarn lint:fix

build(package): add test devDependencies
  package.json
  yarn.lock
Due: prettier --write

build(package): save pm2 to dependencies
  package.json
  yarn.lock
Due: prettier --write

build: compile files and start app with pm2
  .gitignore
  ecosystem.config.js
  jest.config.ts
  package.json
  src/bin/www.ts
  tsconfig.json
Due: yarn lint:fix, prettier --write

build: add .nvmrc and package.json with engines
  .nvmrc
  package.json
Due: prettier --write

build(package): save cors to dependencies
  package.json
  yarn.lock
Due: prettier --write

feat(app): enable cors for all requests
  src/app.ts
Due: yarn lint:fix

build(package): save helmet to dependencies
  package.json
  yarn.lock
Due: prettier --write

feat(app): use helmet to secure app
  src/app.ts
Due: yarn lint:fix

build(package): save compression to dependencies
  package.json
  yarn.lock
Due: prettier --write

feat(app): use compression middleware
  src/app.ts
Due: yarn lint:fix

ci(github): add dependabot.yml
  .github/dependabot.yml
Due: prettier --write

ci(github): add workflow build.yml
  .github/workflows/build.yml
Due: prettier --write

feat: change the default port to 3000
  .env.example
  src/config/env.ts
Due: yarn lint:fix

chore(package): update node and yarn versions in engines
  package.json
Due: prettier --write

docs(readme): add prerequisites, install, available scripts, & more
  README.md
Due: prettier --write

docs(readme): add build status badge
  README.md
Due: prettier --write

ci(github): add workflow release-please.yml
  .github/workflows/release-please.yml
Due: prettier --write

chore(commitlint): update "body-max-line-length" rule
  .commitlintrc.json
Due: prettier --write

ci(Mergify): configuration update
  .mergify.yml
Due: prettier --write

docs(readme): update install instructions
  README.md
Due: prettier --write

ci(github): rename .mergify.yml -> .github/mergify.yml
  .github/mergify.yml
Due: prettier --write

ci(github): update mergify.yml
  .github/mergify.yml
Due: prettier --write

ci(github): remove myself from dependabot.yml
  .github/dependabot.yml
Due: prettier --write

ci(github): update workflow build.yml
  .github/workflows/build.yml
Due: prettier --write

ci(github): update workflow release-please.yml
  .github/workflows/release-please.yml
Due: prettier --write

chore(license): update copyright year to 2023
  LICENSE
Due: none

build(nvmrc): set Node.js version to 16
  .nvmrc
Due: none
